.padded {
    font-size: 1rem;
    padding: 1em;
    border: 1px dashed black;
}

.box {
    padding: 1em;
    border-radius: 1em;
    background-color: lightgray;
}

.box-small {
    font-size: 0.8rem;
}

.box-large {
    font-size: 1.2rem;
}

.slogan {
    font-size: 1.2em; /* 16px * 1.2 = 19.2px */
    padding: 1.2em;  /* 19.2px * 1.2 = 23.04px */
    background-color: #ccc;
}

li {
    margin-bottom: 0.3em;
}

.xx-small {
    font-size: xx-small;
}

.x-small {
    font-size: x-small;
}

.small {
    font-size: small;
}

.medium {
    font-size: medium;
}

.large {
    font-size: large;
}

.x-large {
    font-size: x-large;
}

.xx-large {
    font-size: xx-large;
}

.xxx-large {
    font-size: xxx-large;
}

/* Applies to all screens but is overriden for larger screens */
:root {
    font-size: 0.875em;
}

@media (min-width: 800px) {
    :root {
        font-size: 1em;
    }
}

@media (min-width: 1200px) {
    :root {
        font-size: 1.15em;
    }
}

.panel {
    padding: 1em;
    border: 1px solid #999;
    border-radius: 0.5em;
}

.panel > h2 {
    margin-top: 0;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
}

ul {
	font-size: 0.8rem;
}
